<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="example-form">
      <mat-card-content>

          <app-input [placeholder]="'Username'"   [control]="loginForm.controls.username"></app-input>
         <app-input [placeholder]="'Password'" [type]="'password'"  [control]="loginForm.controls.password"></app-input>

      </mat-card-content>
      <button  [disabled]="!loginForm.valid" type="submit" mat-stroked-button color="accent" class="btn-block">Log in</button>
    </form>

    <a mat-button routerLinkActive="active" class="item"  routerLink="/users">Register</a>
  </mat-card>
</div>


