<button class="ui button" (click)="onClick()">ADD</button>


{{data | json}}
<app-modal (close)="onClick()" *ngIf="modal">
  <div modalTitle > Logs</div>
  <p>inputs fields</p>
 <div modalButton> <button (click)="onSubmit()" class="ui button">Save</button>
 </div>
 <div modalInput>

  <select formControlName="project"(change)="changeProject($event)"  class="ui dropdown"  >
    <option  *ngFor="let b of projectdata" [value]="b.name">{{b.name}} </option>
  </select>
  <select formControlName="activity" (change)="changeActivity($event)"  class="ui dropdown"  >
    <option  *ngFor="let b of activitydata" [value]="b.name">{{b.name}} </option>
  </select>

  <select formControlName="user" (change)="changeUsername($event)"  class="ui dropdown"  >
    <option  *ngFor="let b of usersdata" [value]="b.username">{{b.username}} </option>
  </select>

  <app-input label="log" [control]="logForm.controls.log"></app-input>
  <app-input label="ReporterId" [control]="logForm.controls.reporterId"></app-input>
  <app-input [type]="'date'" label="ReportedAt" [control]="logForm.controls.reportedAt"></app-input>
  <app-input label="AssignedTo" [control]="logForm.controls.assignedTo"></app-input>
  <app-input [type]="'date'" label="DateResolved" [control]="logForm.controls.dateResolved"></app-input>
  <app-input label="Response" [control]="logForm.controls.response"></app-input>
  <app-input label="ResponseConfirm" [control]="logForm.controls.responseConfirm"></app-input>
  <app-input [type]="'date'" label="ResponseConfirmDate" [control]="logForm.controls.responseConfirmDate"></app-input>
 </div>
</app-modal>

<app-modal (close)="onClick2()" *ngIf="modal2">
  <div modalTitle > Log </div>
  <p>inputs fields</p>
 <div modalButton> <button (click)="onUpdate()" class="ui button">Update</button>
 </div>
 <div modalInput>

  <select formControlName="project" (change)="changeProject($event)"  class="ui dropdown"  >
    <option  *ngFor="let b of projectdata" [value]="b.name">{{b.name}} </option>
  </select>

  <app-input label="activity" [control]="logForm.controls.activity"></app-input>

   <select formControlName="user" (change)="changeUsername($event)"  class="ui dropdown"  >
    <option  *ngFor="let b of usersdata" [value]="b.username">{{b.username}} </option>
  </select>
  <app-input label="log" [control]="logForm.controls.log"></app-input>
  <app-input label="ReporterId" [control]="logForm.controls.reporterId"></app-input>
  <app-input [type]="'date'" label="ReportedAt" [control]="logForm.controls.reportedAt"></app-input>
  <app-input label="AssignedTo" [control]="logForm.controls.assignedTo"></app-input>
  <app-input [type]="'date'" label="DateResolved" [control]="logForm.controls.dateResolved"></app-input>
  <app-input label="Response" [control]="logForm.controls.response"></app-input>
  <app-input label="ResponseConfirm" [control]="logForm.controls.responseConfirm"></app-input>
  <app-input [type]="'date'" label="ResponseConfirmDate" [control]="logForm.controls.responseConfirmDate"></app-input>

 </div>
</app-modal>

<app-table classNames="striped celled"
(emitEdit2)="onEdit($event)"

[data]="data" [header]="header"
(emitDelete)='onDelete($event)'>
</app-table>
