

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container [matColumnDef]="column" *ngFor="let column of header">
    <th mat-header-cell *matHeaderCellDef> {{column.label}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column.label]}} </td>
  </ng-container>

<ng-container *ngFor="let column of header">
<tr mat-header-row *matHeaderRowDef="column.lable"></tr>
</ng-container>
<ng-container *ngFor="let d of data">
  <ng-container *ngFor="let column of header">
    <tr mat-row *matRowDef="let row; columns: d[column.key];"></tr>
    </ng-container>
  </ng-container>



</table>

