<table [ngClass]="classNames" class="ui table">
  <thead>
    <tr>
      <th *ngFor="let head of header ">
        {{head.label}}
      </th>
    </tr>
  </thead>
  <tbody>


    <tr *ngFor="let d of data">
      <td *ngFor="let head of header ">
        {{d[head.key]}}
      </td>
      <td>

          <button (click)="emitEdit.emit(d)" >
            <mat-icon>edit</mat-icon>
          </button>


        <button (click)="emitDelete.emit(d?._id)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
