<button (click)="onclick2()" mat-raised-button>Add Project</button>

<div class="ui link cards">
  <div *ngFor="let d of data" (click)="onSelect(d)" class="card">
    <ng-container>

      <div class="image">
        <!-- <img src="/images/avatar2/large/matthew.png"> -->
      </div>
      <div class="content">
        <div (click)="$event.stopPropagation()">
          <button (click)="onDelete(d?._id)" mat-raised-button style="float: right;">Delete</button>
          <button (click)="onEdit(d)" mat-raised-button style="float: right;">Edit</button>

        </div>
        <div class="header">{{d.name}}</div>
        <div class="meta">
          <a>{{d.duration}} day(s) left</a>
        </div>
        <div class="description">
          {{d.description}}
        </div>
      </div>
      <div class="extra content">
        <span class="right floated">
          <i class="dollar sign icon"></i>
          {{d.cost}}
        </span>
        <span>
          <i class="user icon"></i>
          {{d.rese?.length}} Activity
        </span>
      </div>
    </ng-container>
  </div>
</div>

<div *ngIf="act" class="actif">
  <div  class="ui mini horizontal divided list">
    <div class="item">
      <img class="ui avatar image" src="/images/avatar/small/helen.jpg">
      <div class="content">
        <div class="header">Helen</div>
      </div>
    </div>

  </div>
</div>

<!-- {{data | json}} -->


<app-modal (close)="onclick()" *ngIf="modal">
  <div modalTitle > Projects </div>
  <p>inputs fields</p>
 <div modalButton> <button (click)="onUpdate()" class="ui button">Save</button>
 </div>
 <div modalInput>

  <app-input label="Name" [control]="projectForm.controls.name"></app-input>
  <app-input label="Description" [control]="projectForm.controls.description"></app-input>
  <app-input [type]="'number'" label="cost" [control]="projectForm.controls.cost"></app-input>
  <app-input [type]="'date'" label="StartDate" [control]="projectForm.controls.startDate"></app-input>
  <app-input [type]="'date'" label="EndDate" [control]="projectForm.controls.endDate"></app-input>
 </div>

</app-modal>

<app-modal (close)="onclick2()" *ngIf="modal">
  <div modalTitle > Projects </div>
  <p>inputs fields</p>
 <div modalButton> <button (click)="onSubmit()" class="ui button">Save</button>
 </div>
 <div modalInput>

  <app-input label="Name" [control]="projectForm.controls.name"></app-input>
  <app-input label="Description" [control]="projectForm.controls.description"></app-input>
  <app-input [type]="'number'" label="cost" [control]="projectForm.controls.cost"></app-input>
  <app-input [type]="'date'" label="StartDate" [control]="projectForm.controls.startDate"></app-input>
  <app-input [type]="'date'" label="EndDate" [control]="projectForm.controls.endDate"></app-input>
 </div>

</app-modal>
