<div class="ui container">
  <div class="ui secondary pointing menu">
    <a routerLinkActive="active" class="item" routerLink="/projects">project</a>
    <a routerLinkActive="active" class="item" routerLink="/users">users</a>
    <a routerLinkActive="active" class="item" routerLink="/log">log</a>
    <a routerLinkActive="active" class="item" routerLink="/projectpersonnels">project-personnels</a>
    <a routerLinkActive="active" class="item" routerLink="/activityassignment">activity-assignment</a>
  </div>
  <div class="ui divider"></div>
  <div class="ui segment">
    <router-outlet></router-outlet>
  </div>

</div>

