<div class="ui container">
  <div class="ui secondary pointing menu">
    <a routerLinkActive="active" class="item" routerLink="/projects">project</a>
    <a routerLinkActive="active" class="item" routerLink="/users">users</a>
    <div class="right menu">
      <ng-container *ngIf="signedIn$ | async">
        <a routerLinkActive="active" class="item"  routerLink="users/project">Project</a>
        <a routerLinkActive="active" class="item" routerLink="users/activity">Activity</a>
        <a routerLinkActive="active" class="item" routerLink="users/signout">Sign Out</a>
      </ng-container>
      <ng-container *ngIf="!(signedIn$ |async)">
        <a routerLinkActive="active" class="item" routerLink="users/login">Login</a>
      </ng-container>



    </div>
  </div>
  <div class="ui divider"></div>
  <div class="ui segment">

    <router-outlet></router-outlet>
  </div>

</div>

