<ng-container class="field">
  <label class="label">{{label}}</label>
<ng-container class="control">

  <mat-form-field class="example-full-width">
    <input matInput  [placeholder]="placeholder" [type]="type" [ngClass]="{'is-danger': showErrors()}"  [formControl]="control" />
    </mat-form-field>
</ng-container>
<div  *ngIf="showErrors()">

    <ng-container class="help is-danger" *ngIf="control.errors?.['required']">
      Requried
    </ng-container>

    <ng-container class="help is-danger" *ngIf="control.errors?.['pattern']">
      Invalid Format
    </ng-container>

    <ng-container *ngIf="control?.errors.UniqueUsername">
      ({{control?.value}}) already exist
    </ng-container>
  </div>
</ng-container>
